* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
/*  border: 1px solid black;*/
  
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}



header {
  padding: 0;
}
.channel-showcase {
  list-style: none;
  width: 100%;
}

.channel-showcase li {
  display: block;
  float:  left;
  width: 25%;
}

.channel-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #585555;
}

.channel-photo img {
  opacity: 0.7;
  width: 95%;
  height: 200px;
  transform: scale(1.25);
  transition: transform 0.5s, opacity 0.5s;
}

.channel-photo img:hover {
  opacity: 1;
  transform: scale(1.15);
}

h1 {
  text-align: center;
  font-family: Lato;
  font-weight: 100;
}

.name {
  border-right: 1px solid black;
}

.title {
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}

.about {
  padding: 100px;
  padding-top: 50px;
  font-size: 40px;  
/*  font-weight: 600;*/
}

.gif {
/*  border: 3px solid black;*/
  max-width: 200px;
}

img {
  width: 100%;
  height: auto;
}

.portfolio {
  padding: 100px;
  padding-right: 0;
  padding-left: 200px
}

.col {
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}